footer{
    background-color: black;
    position: relative;
    }
    .col-lg-4{
      color: #ac0000;
    }
    i{
      color: #ac0000;
    }

    .All1 img{
      background-color: #ff0000;
      position: absolute;
      height:100vh;
      left: 0px;
      width: 100%;
    }
    .footer{
    position: absolute;
    color: #000000;
    }